.calculator {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #5b5253;
  overflow: hidden;
  border-radius: 16px;
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  outline: 3px solid #ececec90;
  border-radius: 16px;
  outline-offset: -3px;

  .calculator-keypad {
    height: 350px;
    display: flex;
    overflow: hidden;
    *{
      color: #ececec;
    }
  }
  .input-keys {
    width: 240px;
  }
  .function-keys {
    display: flex;
    background: #6b6364;
    .calculator-key {
      font-size: 2em;
    }
    .key-multiply {
      line-height: 50px;
    }
  }
  .digit-keys {
    background: #847d7d;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .calculator-key {
      font-size: 2.25em;
    }
    .key-0 {
      width: 160px;
      text-align: left;
      padding-left: 32px;
    }
    .key-dot {
      padding-top: 1em;
      font-size: 0.75em;
    }
  }
  .operator-keys {
    background: #fd9e2b;
    .calculator-key {
      color: white;
      border-right: 0;
      font-size: 3em;
    }
  }
}
